#header .header-nav-top .language-selector {transition: margin 350ms ease-in-out; min-width: auto; margin: 30px 0 0 -10px;}
.sticky-header-active #header .header-nav-top .language-selector {margin: 15px 0 0 -10px;}
#header .header-nav-top .language-selector .dropdown-item:hover {background-color: transparent;}
#header .header-nav-top .language-selector:before {
    right: 0; left: 50%; top: -7px;
    transform: translateX(-50%);
    border-bottom-color: #3f4346;
}
#header .header-nav-features .profile-dropdown {
    min-width: 200px !important;
    margin: 70px -40px 0 0 !important; padding: 0 !important;
    border-top: 1px solid #181818;
    transition: margin 350ms ease-in-out;
    background-color: #1C2023;
    box-shadow: 6px 12px 24px -12px rgba(0,0,0, .65);
}
.sticky-header-active #header .header-nav-features .profile-dropdown {margin: 55px -40px 0 0 !important;}
#header .header-nav-features .profile-dropdown:before {
    top: -2px;
    border-bottom-color: #3f4346;
}